/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
	--kleuren-van-de-headings: black;
	--kleuren-in-de-plaatjes: White;



}


@font-face {
	font-family: 'lettertype';
	src: url(/font/Century\ Gothic.ttf);
}


/* jouw code */

body {
	font-family: "lettertype";
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

/* header */

/*  dior logo */
header>a:first-of-type img {
	height: 3em;
}


/* open button */
header>button {
	order: 1;
}

/* 
/* het menu */
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 1em;

	transition: 1s;

	/* van de rechterkant  */
	translate: 100%;
	/*  hoelang die moet duren  */
	transition: 1s;

	display: flex;

	flex-direction: column;


	background-color: #ffc;
}

nav.toonMenu {
	translate: 0;
}

/* het lijstje */
/* header { */
/* padding: 1em; */
/* line-height: 1; */
/* display: flex; */
/* justify-content: space-between; */
/* align-items: center; */

/* } */

nav ul {
	margin: 0;
	padding: 0em;
	list-style-type: none;
}

nav button {
	align-self: end;
}


header ul {
	display: flex;
	justify-content: center;
	gap: .8em;

}

li {
	list-style: none;
	/* display: flex; */
	/* justify-content: center; */
}


/* begin van de main  */

main>section:first-of-type {
	text-align: center;
	font-size: 0.8em;
}

section a {
	border: none;
	color: var(--color-text);


}

section:nth-of-type(2) {
	position: relative;
	text-align: center;
}

section:nth-of-type(2) img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

section:nth-of-type(2) h2 {
	position: absolute;
	bottom: 0;
	color: var(--kleuren-in-de-plaatjes);
	right: 1em;


}



section:nth-of-type(3) {
	position: relative;
	text-align: center;
}

section:nth-of-type(3) img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

section:nth-of-type(3) h2 {
	position: absolute;
	bottom: 0;
	color: var(--kleuren-in-de-plaatjes);
	right: 1em;

}

main>section:nth-of-type(4) {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	position: relative;
}

main > section h3{
	position: absolute;
	bottom: 0 ;
}